In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('D:/Python_CSV/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1409,tt0387131,25000000,82466670,The Constant Gardener,Ralph Fiennes|Rachel Weisz|Danny Huston|Bill N...,Fernando Meirelles,Love. At any cost.,Justin Quayle is a low-level British diplomat ...,129,Drama|Mystery|Thriller,Studio Babelsberg|Epsilon Motion Pictures|UK F...,8/31/2005,6.7,2005
1036,tt1195478,30000000,53909751,The Five-Year Engagement,Emily Blunt|Alison Brie|Jason Segel|Rhys Ifans...,Nicholas Stoller,A comedy about the journey between popping the...,"Exactly one year after Tom meets Violet, he su...",124,Comedy,Universal Pictures|Dentsu|Relativity Media|Apa...,4/27/2012,5.6,2012
1055,tt1764183,12000000,35485056,Arbitrage,Richard Gere|Susan Sarandon|Tim Roth|Brit Marl...,Nicholas Jarecki,Power is the best alibi.,"A troubled hedge fund magnate, desperate to co...",100,Drama|Thriller,Lionsgate|Artina Films|Lucky Monkey Pictures|G...,9/14/2012,5.9,2012
975,tt1194173,130000000,276572938,The Bourne Legacy,Jeremy Renner|Rachel Weisz|Edward Norton|Scott...,Tony Gilroy,There Was Never Just One,The fourth installment of the highly successfu...,120,Action|Thriller,Universal Pictures|Dentsu|Relativity Media|Ken...,8/8/2012,5.9,2012
1198,tt0816711,200000000,531865000,World War Z,Brad Pitt|Mireille Enos|Abigail Hargrove|Sterl...,Marc Forster,Remember Philly!,Life for former United Nations investigator Ge...,116,Action|Drama|Horror|Science Fiction|Thriller,Paramount Pictures|GK Films|Skydance Productio...,6/20/2013,6.7,2013

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов
# Добавляем к таблице столбец "прибыль":
data['profit'] = data['revenue'] - data['budget']

# Добавляем к таблице столбец "месяц выхода":
data['release_month'] = data.release_date.apply(lambda s: s[:s.index('/'):])

# Создаём копию таблицы с нужными колонками для вопросов 6-10:
data_6_10 = data[['imdb_id', 'original_title', 'revenue', 'budget', 'release_year', 'profit']].copy()

# Создаём копию таблицы и разделяем колонку 'director' для вопроса 13, 14, 23
data_13 = data.copy()
data_13.director = data_13.director.str.split('|')
data_13 = data_13.explode('director')

# Создаём копию таблицы и разделяем колонку 'cast' для вопросов 15 и 16
data_15 = data.copy()
data_15.cast = data_15.cast.str.split('|')
data_15 = data_15.explode('cast')

# Создаём копию таблицы data_15 и разделяем колонку 'genres' для вопроса 17
data_17 = data_15.copy()
data_17.genres = data_17.genres.str.split('|')
data_17 = data_17.explode('genres')

# Создаём копию таблицы data, добавляем колонки "длина названия" и "длина описания" для вопросов 24 и 25
data_24 = data.copy()
data_24['len_title'] = data_24.original_title.apply(lambda s: len(str(s)))
data_24['len_overview'] = data_24.overview.apply(lambda s: len(str(s).split(' ')))

# и разделяем колонку 'production_companies' 
data_24.production_companies = data_24.production_companies.str.split('|')
data_24 = data_24.explode('production_companies')

# Создаём копию таблицы data с нужными колонками для вопроса 27
data_27 = data[['original_title', 'cast']].copy()

# Разбиваем колонку 'cast' по парам актёров в фильме с помощью функции combinations
import itertools as it

data_27.cast = data_27.cast.str.split('|').apply(lambda s: list(it.combinations(sorted(s), 2)))
data_27 = data_27.explode('cast')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
answers['1'] = '5(+). Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

ВАРИАНТ 1

In [6]:
# Выводим идентификатор, название и бюджет фильма, бюджет которого равен максимальному значения бюджета в колонке
data[data.budget == data.budget.max()][['imdb_id', 'original_title', 'budget']]

       imdb_id                               original_title     budget
723  tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

ВАРИАНТ 2

In [7]:
# Группируем фильмы по названию, сортируем по бюджету по возрастанию и выводим последний элемент списка
data.groupby(['original_title'])['budget'].max().sort_values().tail(1)

original_title
Pirates of the Caribbean: On Stranger Tides    380000000
Name: budget, dtype: int64

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2(+). Gods and Generals (tt0279111)'

ВАРИАНТ 1

In [9]:
# Сортируем значения длительности фильмов, формируя из них один диапазон.
t = data.runtime.value_counts(bins=1)
# Выводим название фильма, длительность которого равна верхнему значению диапазона
data[data.runtime == t.index[0].right]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

ВАРИАНТ 2

In [10]:
# Выводим идентификатор, название и длительность фильма, длительность которого равна 
# максимальному значению длительности в колонке
data[data.runtime == data.runtime.max()][['imdb_id', 'original_title', 'runtime']]

        imdb_id     original_title  runtime
1157  tt0279111  Gods and Generals      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = '3(+). Winnie the Pooh (tt1449283)'

ВАРИАНТ 1

In [12]:
# Выводим идентификатор, название и длительность фильма, длительность которого равна
# минимальному значению длительности в колонке
data[data.runtime == data.runtime.min()][['imdb_id', 'original_title', 'runtime']]

       imdb_id   original_title  runtime
768  tt1449283  Winnie the Pooh       63

ВАРИАНТ 2

In [13]:
# Группируем фильмы по возрастанию длительности. Выводим верхний элемент списка.
data.groupby(['runtime'])['original_title'].max().head(1)

runtime
63    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = '2(+). 110'

ВАРИАНТ 1

In [15]:
# Выводим округлённое среднее по колонке длительности
round(data['runtime'].mean())

110

ВАРИАНТ 2

In [16]:
# Берём нужное значение из data.describe()
round(data.describe()['runtime']['mean'])

110

# 5. Каково медианное значение длительности фильмов?

In [17]:
answers['5'] = '1(+). 107'

ВАРИАНТ 1

In [18]:
# Берём нужное значение из data.describe()
round(data.describe()['runtime']['50%'])

107

ВАРИАНТ 2

In [19]:
# Выводим медианное значение по колонке длительности
round(data['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [20]:
answers['6'] = '5(+). Avatar (tt0499549)'

In [21]:
data_6_10[data_6_10.profit == data_6_10.profit.max()]

       imdb_id original_title     revenue     budget  release_year      profit
239  tt0499549         Avatar  2781505847  237000000          2009  2544505847

# 7. Какой фильм самый убыточный?

In [22]:
answers['7'] = '5(+). The Lone Ranger (tt1210819)'

In [23]:
data_6_10[data_6_10.profit == data_6_10.profit.min()]

        imdb_id   original_title   revenue     budget  release_year     profit
1245  tt1210819  The Lone Ranger  89289910  255000000          2013 -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [24]:
answers['8'] = '1(+). 1478'

In [25]:
len(data_6_10[data_6_10.profit >= 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [26]:
answers['9'] = '4(+). The Dark Knight (tt0468569)'

In [27]:
data_6_10[data_6_10.release_year == 2008].sort_values(['profit']).tail(1)

,imdb_id,original_title,revenue,budget,release_year,profit
599,tt0468569,The Dark Knight,1001921825,185000000,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [28]:
answers['10'] = '5(+). The Lone Ranger (tt1210819)'

In [29]:
data_6_10.query('2012 <= release_year <= 2014').sort_values(['profit']).head(1)

        imdb_id   original_title   revenue     budget  release_year     profit
1245  tt1210819  The Lone Ranger  89289910  255000000          2013 -165710090

# 11. Какого жанра фильмов больше всего?

In [30]:
answers['11'] = '3(+). Drama'

In [31]:
data.genres.str.split('|').explode().describe()

count      5107
unique       19
top       Drama
freq        782
Name: genres, dtype: object

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [32]:
answers['12'] = '1(+). Drama'

In [33]:
data[data.profit > 0].genres.str.split('|').explode().value_counts().head(1)

Drama    560
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [34]:
answers['13'] = '5(+). Peter Jackson'

In [35]:
data_13.groupby(['director'])['revenue'].sum().sort_values().tail(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [36]:
answers['14'] = '3(+). Robert Rodriguez'

In [37]:
data_13[data_13.genres.str.contains('Action')].value_counts(['director']).head(1)

director
Robert Rodriguez    9
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [38]:
answers['15'] = '3(+). Chris Hemsworth'

In [39]:
a = data_15[data_15.release_date.str.contains('2012')]
a.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [40]:
answers['16'] = '3(+). Matt Damon'

In [41]:
b = data_15[data_15.budget > data_15.budget.mean()]
b.groupby(['cast'])['original_title'].count().sort_values(ascending=False).head(1)

cast
Matt Damon    18
Name: original_title, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
answers['17'] = '2(+). Action'

In [43]:
data_17[data_17.cast == 'Nicolas Cage'].genres.mode()

0    Action
dtype: object

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
answers['18'] = '1(+). K-19: The Widowmaker (tt0267626)'

In [45]:
c = data[data.production_companies.str.contains('Paramount Pictures')]
c.groupby(['original_title'])['profit'].max().nsmallest(1, keep='all')

original_title
K-19: The Widowmaker   -64831034
Name: profit, dtype: int64

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [46]:
answers['19'] = '5(+). 2015'

In [47]:
data.groupby(['release_year'])['revenue'].sum().nlargest(1, keep='all')

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [48]:
answers['20'] = '1(+). 2014'

In [49]:
d = data[data.production_companies.str.contains('Warner Bros')]
d.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [50]:
answers['21'] = '4(+). Сентябрь'

In [51]:
data.groupby(['release_month'])['original_title'].count().nlargest(1, keep='all')

release_month
9    227
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [52]:
answers['22'] = '2(+). 450'

In [53]:
len(data.query('release_month in ["6", "7", "8"]'))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [54]:
answers['23'] = '5(+). Peter Jackson'

In [55]:
e = data_13.query('release_month in ["1", "2", "12"]')
e.groupby(['director'])['original_title'].count().nlargest(1, keep='all')

director
Peter Jackson    7
Name: original_title, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [56]:
answers['24'] = '5(+). Four By Two Productions'

In [57]:
data_24.groupby(['production_companies'])['len_title'].max().nlargest(1, keep='all')

production_companies
Four By Two Productions                   83
Twentieth Century Fox Film Corporation    83
Name: len_title, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [58]:
answers['25'] = '3(+). Midnight Picture Show'

In [59]:
data_24.groupby(['production_companies'])['len_overview'].mean().nlargest(1, keep='all')

production_companies
Midnight Picture Show    175.0
Name: len_overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [60]:
answers['26'] = '1(+). Inside Out, The Dark Knight, 12 Years a Slave'

In [61]:
n = data['vote_average'].describe(percentiles=[0.99])['99%']
data[data.vote_average > n].sort_values(['vote_average'], ascending=False)[['original_title', 'vote_average']]

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [62]:
answers['27'] = '5(+). Daniel Radcliffe & Rupert Grint'

In [63]:
data_27.cast.mode()

0     (Daniel Radcliffe, Emma Watson)
1    (Daniel Radcliffe, Rupert Grint)
2         (Emma Watson, Rupert Grint)
dtype: object

# Submission

In [64]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5(+). Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2(+). Gods and Generals (tt0279111)',
 '3': '3(+). Winnie the Pooh (tt1449283)',
 '4': '2(+). 110',
 '5': '1(+). 107',
 '6': '5(+). Avatar (tt0499549)',
 '7': '5(+). The Lone Ranger (tt1210819)',
 '8': '1(+). 1478',
 '9': '4(+). The Dark Knight (tt0468569)',
 '10': '5(+). The Lone Ranger (tt1210819)',
 '11': '3(+). Drama',
 '12': '1(+). Drama',
 '13': '5(+). Peter Jackson',
 '14': '3(+). Robert Rodriguez',
 '15': '3(+). Chris Hemsworth',
 '16': '3(+). Matt Damon',
 '17': '2(+). Action',
 '18': '1(+). K-19: The Widowmaker (tt0267626)',
 '19': '5(+). 2015',
 '20': '1(+). 2014',
 '21': '4(+). Сентябрь',
 '22': '2(+). 450',
 '23': '5(+). Peter Jackson',
 '24': '5(+). Four By Two Productions',
 '25': '3(+). Midnight Picture Show',
 '26': '1(+). Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5(+). Daniel Radcliffe & Rupert Grint'}

In [65]:
# и убедиться что ни чего не пропустил)
len(answers)

27